.landing {
    margin-top: 5vh;
    filter: grayscale(80%);
    text-align: center;
    text-shadow: 0 5px 10px rgb(255, 255, 255);
    color: rgb(0, 0, 235);
    /* border-radius: 30px; */
}

.landingtext {
        top: 50%;
}
.background {
    padding: 0px;
    background: rgb(104, 104, 104);
}